    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
    
      color: #333;
    }

    header {
      background-color: #3a6b35;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header nav a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
    }

    nav {
      margin-right: 3.5rem;
    }

    header .profile-btn {
      background-color: #f2f2f2;
      color: #333;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin: 0 1.5rem 0 1rem;
    }
    .logo p {
      margin-left: 4rem;
      font-size: larger;
      font-weight: bold;
      
    }
    /* Main Layout */
    .container {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }


    /* Product Card */
    .product-card {
      padding: 1rem;
      border-radius: 8px;

      width: 29.26%;
      margin: 5.9rem 5.81% 6.8125rem 5.81%;
      position: relative;
    }

    .product-card img {
      width: 90%;
      height: 60%;
      border-radius: 8px;
    }

    .product-details {
      padding: 1rem 0;
    }

    .product-details h3 {
      font-size: 1.2rem;
    }

    .product-details p {
      font-size: 0.9rem;
      color: #666;
    }

    .product-card .actions {
      display: flex;
      justify-content: space-around;
      margin-top: 1rem;
    }

    .product-card .actions button {
      background-color: white;
      width: 50px;
      height: max-content;
      color: black;
      border: none;
      padding: 0.5rem;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .product-card .actions button .icon-action{
      font-size: 1.5rem;
    }

    .button{
      width: 110%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .recent-btn{
      width: 208px;
      height: 51px;
      background-color: #426B1F;
      color: white;
      border-radius: 5px;
      border: none;
      font-size: 24px;

    }

    

    /* Shipping Timeline */
    .shipping-timeline {
      background-color: #f3f3f3;
      padding: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin: 6.8125rem 5.81% 6.8125rem 0;
      width:52.62%;
      
    }
    
    .shipping-timeline {
      display: flex;
      flex-direction: column;
      /* width: fit-content; */
   
      
    }

    .shipping-timeline h3 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 0.3em;
    }

    .shipping-timeline p {
      font-size: 1.2rem;
      margin-bottom: 0.4em;
      text-align: center;
    }

    .caution{
      padding-bottom: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
     
    }

    .shipping-timeline ul {
      list-style-type: none;
      margin: 1rem 0;
    }

    .shipping-timeline ul li {
      display: flex;
      align-items: center;}

    .shipping-timeline ul .date-time::before {
      content: "📅";
      margin-right: 0.5rem;
      font-size: 2.2rem;
    }
    .column-line{
      margin-left: 12.5rem;
      padding: 0;
      font-weight: bold;
      font-size:x-large;
    }
    .time-table{
      margin-left: 3em;
      
    }
    .time {
      display: flex; 
      justify-content: center;
      margin-left: 4em;
    }

    /* Footer */
    footer {
      background-color: #3a6b35;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    footer div {
      margin: 0.5rem;
    }

    footer h4 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    footer p {
      font-size: 0.8rem;
    }
    .line {
      margin: 0;
    }
     .line p {
      padding-top: 10px;
    }
    .icon p{
      padding-top: 10px;
    }
    
    